

<div class="row">
    <div class="col-md-12">
        <h2>Delete Student</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Are you sure you want to delete ?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-danger btn-lg" (click)="confirmDelete()">Yes</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success btn-lg" (click)="close()">No</button>
        </div>
    </div>
</div>