
    <div class="row mb-2">
        <div class="col-md-12">
            <button class="btn btn-success" (click)="addStudent()">Add Student</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="outline">
                <mat-label>Filter with courses</mat-label>
                <mat-select (selectionChange)="filterByCourse($event)">
                    <mat-option value="all">
                        All Students
                      </mat-option>
                  <mat-option *ngFor="let course of courses$ | async" [value]="course.courseId">
                    {{ course.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" *ngFor="let student of filteredStudents">
            <div class="card">
                <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&ext=jpg" 
                class="card-img-top"
                alt="Student">
                <div class="card-body">
                  <h2 class="card-title text-center">
                      <a class="stdLink" (click)="editStudent(student)">
                          {{ student?.name }} 
                      </a> 
                    </h2>
                  <p class="card-text"></p>
                  <div class="row">
                      <div class="col-md-12">
                          <button class="btn btn-danger w-100" (click)="deleteStudent(student.studentId)">Delete</button>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row" *ngIf="filteredStudents.length == 0">
        <div class="col-md-12">
            <div class="alert alert-danger">
                no students found
            </div>
        </div>
    </div>
