/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 20px; }

.card-title {
    font-size: 18px !important;
}

mat-label {
    font-size: 17px !important;
}


mat-form-field {
    width: 100% !important;
}